<html>
	<head>
		<title>About Us</title>
	</head>
	<body>
		<h1>About Us</h1>
		<br>
		<hr>
		<h2>Done By: Rishabh</h2>
		<h2>Contact: rishabh@gmail.com</h2>
		<br><br>
		This site is created under the supervision of DSC SRM Club. 
		<p>Developer Student Club (DSC) is a Google Developers program for university students to learn mobile and web development skills. The club will be open to any student, ranging from novice developers who are just starting, to advanced developers who want to further their skills. The club is intended as a space for students to try out new ideas and collaborate to solve mobile and web development problems.</p>

		<p>To know more about DSC SRM visit our <a href="https://www.srmdsc.com" target="_blank">website</a>.</p>

	</body>
</html>