<html>
	<head>
		<title>CERT VALId</title>
	</head>
	<body>
		<br>
		<h1 align="center">DSC SRM CERTIFICATE PORTAL</h1>
		<h4 align="center">Generate Your Certificates Online</h4> 
		<hr>
		<br>
		<p>
		<form>
			<fieldset>
				<label for="regno">
					<h3 align="center">Enter Your Registration Number</h3>
				</label>
				<center><input type="text" id="regno" required pattern="[A-Z0-9]{15}">
				<input type="submit" value"SUBMIT"></center>
				<p>
			</fieldset>
		</form>
		<br>
		<hr>
		<br>
		For more information visit our <a href="https://www.srmdsc.com" target="_blank">website</a>.
		<p>
		<a href="./about.html"><button>About Us</button></a>
	</body>
</html>
		
    